@import url(http://fonts.googleapis.com/css?family=Hind:300,400,700);

body {
	font-family: 'Hind', 'Helvetica', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: black;
	text-align: center;
}

#responsearea {
	position: absolute;
	height: 100%;
	left: 500px;
	top: 15%;
}

#responsewrapper {
	text-align: left;
}

#leftnav {
	position: absolute;
	top: 25%;
	left: 0;
	background-color: #eee;
}

.response img {
	max-height: 100px;
	max-width: 100px;
}

.response {
	padding: 20px;
}

.response:hover {
	cursor: pointer;
	background-color: #ddd;
}

.faded {
	opacity: 0.6;
}

