@import url(http://fonts.googleapis.com/css?family=Hind:300,400,700);

body {
	font-family: 'Hind', 'Helvetica', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: black;
}

#responsearea {
	position: relative;
	display: inline-block;
	left: 400px;
	width: 700px;
}

#responsewrapper {
	text-align: left;
	overflow: auto;
}

#leftnav {
	position: relative;
	display: inline-block;
	float: left;
	margin-left: -10px;
	top: 200px;
	text-align: center;
}

.response img {
	max-height: 100px;
	max-width: 100px;
}

.response {
	padding: 20px;
	background-color: #eee;
}

.response:hover {
	cursor: pointer;
	background-color: #ddd !important;
}

.faded {
	opacity: 0.6;
}

